.search .search-bar {
    background: gray;
    border-radius: 7px;
    border-color: transparent;
    width: 100%;
    height: 100%;
    padding-left: 10px;
}

.search {
    width: 50%;
    height: 40%;
}

.search .searchIcon {
    width: 10%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(172, 171, 171);
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(172, 171, 171);
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(172, 171, 171);
}