.rating {
    width: 100%;
    height: 100%;
}

.rating .data {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.rating .rating-header {
    width: 100%;
    height: 100%;
    display: flex;
}

.rating .rating-header .overall {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.rating .rating-header .description {
    margin-left: 50px;
}

.rating .rating-header .description h2 {
    font-weight: 200;
}

.rating .rating-entries .ratings {
    display: flex;
    margin-bottom: 30px;
}

.rating .rating-entries .ratings .overall {
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.rating .rating-entries .ratings .overall p {
    margin: 0
}

.rating .rating-entries .ratings .description {
    margin-top: 35px;
    margin-left: 30px;
} 

.ratingNumber {
    font-size: 50px;
    margin: 20px;
    margin-left: 5px;
    color: #7880c5;
}

.img-item {
    width: auto;  
    height:250px;
    margin-top: 20px;
}

.overall-rating {
    margin-top: 10%;
    margin-left: 8%;
}

.ratings {
    margin-left: 8%;
}

.ratingHead {
    margin-left: 7%;
}

.rating-header{
    margin-top: 2%;
    border: 1px solid #808080;
}

.rating-div {
    margin-top: 2%;
    border: 1px solid #808080; 
    margin-bottom: 2%; 
}

.rater {
    font-weight: bold;
}

.btn-rate {
    box-shadow: 1px 1px 5px #888888;
    background-color: #ffe18b;
    border-radius: 20px;
    height: 45px;
    width: 100px;
    margin-right: 12px;
    font-size: 15px;
}

.btn-rate:hover {
    box-shadow: 0 5px #666;
}