.entry-div {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: row 20px;
	margin-bottom: 20px;
	margin-left: -45px;
	margin-top: 20px;
}

.rent-img {
	width:auto; 
	height:250px;
}

.entry-item {
  width: auto;  /* Or whatever */
}

.descript {
	margin-left: 15px;
}

.location {
	font-weight: bold;
}