.App {
  text-align: center;
  background-image: url(./images/homepagebckg.jpg);
  height: 100%; 
  width: 100%;
  background-size: 80%;
  background-position: center;

}

.App-header {
  height: 150px;
  padding: 20px;
  color: black;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

