.Home {
    text-align: center;
    background-image: url(./images/homepagebckg.jpg);
    height: 100%; 
    width: 100%;
    background-size: 80%;
    background-position: center;
  
  }
  
  .btn {
    margin: 200px;
    box-shadow: 1px 1px 5px #888888;
    top: 50%;
    background-color: #7880c5;
    border-radius: 12px;
  }
  
  .button-div {
    display: flex; /* or inline-flex */
    height: 500px;
  }
  
  .btn-item{
    width: 200px;  /* Or whatever */
    height: 100px; /* Or whatever */
    margin-left: 180px;  /* Magic! */
    margin-right: 18px;
    font-size: 25px;
    font-family: Roboto;
    color: white;
  }
  
  .btn:hover {
    box-shadow: 0 5px #666;
  }
  
  .search-div {
    display: flex; /* or inline-flex */
    height: 100px;
  }
  
  .search-div .search .search-bar{
    width: 700px;  /* Or whatever */
    height: 50px; /* Or whatever */ 
    margin-left: 350px;
    margin-top: 100px;
    background: #E6E6FA;
    border: 3px solid #7880c5 !important;
    padding-left: 10px;
  }